body {
    margin: 0;
    color: #222;
    line-height: 1.6em;
    background-color: #f4f4f4;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    width: 800px;

}

.tab-inner {
    margin-top: 30px;
}

.btn {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin-left: 10px;
}

.btn li {
    float: left;
    /* border: 1px solid #000; */
    width: 100px;
    text-align: center;
    cursor: pointer;
    background-color: #eee;
    border-right: 1px solid #ddd;
    padding: 5px;
    border-top: 2px solid transparent;
}

.btn li:last-child {
    width: 170px;
    border-right: none;
}

.btn li:hover,
.btn li.active {
    background-color: #fff;
    border-top: 2px solid crimson;
}


.tabs {

}

.tabs div {
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    height: 270px;
    display: none;
}
.tabs div.active {
    display: block;
}

/* Tab Content */

.tabs div h2 {
    text-align: center;
}
.tabs div img {
    float: left;
    margin-right: 10px;
    width: 100px;
    height: 150px;

}

.tabs div p {
    overflow: hidden;
}

/* Heading */
.heading {

}

.heading h1 {
    font-size: 30px;
    text-align: center;
}

.heading h1 span {
    color: crimson;
}

.heading input[type=text] {
    background-color: #fff;
    outline: none;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ddd;
}

.heading input[type=text]::placeholder {
    font-style: italic;
}

