body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
}
.navi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navi li {

}
.navi li a {
    font-size: 4em;
    text-decoration: none;
    color: #fff;
}