body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
a {
    text-decoration: none;
    color: #222;
}
.shop {
    width: 360px;
    height: 500px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/* item */
.item {
    border-radius: 7px;
    overflow: hidden;
    position: relative;
}
.item img {

}
.detail {
    background-color: #fff;
    position: absolute;
    width: 100%;
    /* bottom: -160px; */
    bottom: 0;
    left: 0;
    height: 50%;
    transition: 0.5s;
    padding: 5px 20px;
    box-sizing: border-box;
}
.item:hover .detail {
    bottom: 0;
}

/* title */
.title {
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  margin-bottom: 15px;
}
.title h2 {
    font-size: 16px;
    color: #888;
    line-height: 1.2em;
    float: left;
}
.title h2 em {
    font-style: normal;
    display: block;
    margin-bottom: 5px;
    color: #000;
}
.title span {
    float: right;
    margin-top: 15px;
    font-size: 18px;
    color: crimson;
}

/* sizze */
.info {
    position: relative;
}
.size {
    margin-bottom: 10px;
}
.size label,
.color label {
    display: block;
}
.size span {
    font-size: 12px;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    line-height: 15px;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.size span.active {
    color: #fff;
    background-color: #000;
}
.color span {
    width: 17px;
    height: 17px;
    display: inline-block;
    margin-right: 6px;
    margin-top: 10px;
}
.color span:nth-of-type(1) {
    background-color: #808000;
}
.color span:nth-of-type(2) {
    background-color: #ff0000;
}
.color span:nth-of-type(3) {
    background-color: #ffc0cb;
}
.color span:nth-of-type(4) {
    background-color: #00ffff;
}
.color span:nth-of-type(5) {
    background-color: #0000ff;
}

.add-cart {
    border: 1px solid #ddd;
    width: 100%;
    padding: 7px;
    background-color: #fff;
    cursor: pointer;
    margin-top: 10px;
}
.add-cart:hover {
    background-color: #000;
    color: #fff;
}