body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
}
.navi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navi li {

}
.navi li a {
    font-size: 4em;
    text-decoration: none;
    color: #fff;
    position: relative;
}
.navi li a:before {
    position: absolute;
    color: yellowgreen;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    content: attr(data-text);
    transition: 0.5s;
}
.navi li a:hover:before{
    width: 100%;
}