body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.star-rating {
    background-color: #333;
    width: 260px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}
.star-rating div {
    float: left;
    width: 50%;
}
.stars {
    
}
.stars .material-icons {
    font-size: 18px;
    cursor: pointer;
}
.print {
    color: #fff;
    margin-top: 3px;
}