body {
    margin: 0;
    color: #222;
    line-height: 1.6em;
    background-color: #f4f4f4;
    font-weight: 300;
    display: flex;
}

section {

}

.tab-inner {

}

.btn {

}

.btn li {

}

.tabs {

}

.tabs div {

}
