body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
a {
    text-decoration: none;
    color: #222;
}
.shop {
    width: 360px;
    height: 500px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/* item */
.item {
    border-radius: 7px;
    overflow: hidden;
    position: relative;
}
.item img {

}
.detail {
    background-color: #fff;
    position: absolute;
    width: 100%;
    /* bottom: -160px; */
    bottom: 0;
    left: 0;
    height: 50%;
    transition: 0.5s;
    padding: 5px 20px;
    box-sizing: border-box;
}
.item:hover .detail {
    bottom: 0;
}

/* title */
.title {
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}
.title h2 {
    font-size: 16px;
    color: #888;
    line-height: 1.2em;
    float: left;
}
.title h2 em {
    font-style: normal;
    display: block;
    margin-bottom: 5px;
    color: #000;
}
.title span {
    float: right;
    margin-top: 15px;
    font-size: 18px;
    color: crimson;
}
